body,
button,
input,
select,
textarea {
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

header.bg-top h1 {
  text-transform: uppercase;
  font-weight: 800 !important;
  font-size: 2.25rem !important;
  margin: 0 !important;
}

header.bg-top.cover h1 {
  margin-top: 800px !important;
}

header.bg-top h2 {
  font-size: 1rem !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 24px !important;
  color: white;
  opacity: 0.8;
}
