<form class="pa4 black-80"
    action='{{ with .GetPage "/search" }}{{.Permalink}}{{end}}' method="get">
  <fieldset class="cf bn ma0 pa0">
    <div class="cf">
      <label for="search-input" class="f6 b db mb2">Búsqueda</label>
      <input type="text" class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns" id="search-input" name="query" placeholder="Palabras a buscar">
      <input type="submit" class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns" value="Buscar">
    </div>
  </fieldset>
</form>
