{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="pv3 bg-black-60">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
<header class="bg-black-90 sticky w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
  <nav class="f6 fw6 ttu tracked">
    <a class="link dim white dib mr3" href="{{ relURL "/" }}" title="Inicio">Inicio</a>
    <a class="link dim white dib mr3" href="{{ relURL "/search/" }}" title="Búsqueda">Búsqueda</a>
    <a class="link dim white dib" href="https://omegaup.org/" title="Acerca de">Acerca de</a>
  </nav>
</header>
