{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">
    <header class="mt4 w-100">
      <h1 class="f1">Búsqueda</h1>
    </header>
    <div class="nested-copy-line-height lh-copy f4 nested-links nested-img {{ $.Param "text_color" | default "mid-gray" }}">
      {{ partial "search-form.html" . }}
      <ul id="results">
          <li>
              Escribe palabras clave arriba para buscar este sitio.
          </li>
      </ul>
    </div>
  </article>
{{ partial "search-index.html" . }}
{{ end }}
